.contact {
    height: max-content;
    overflow: hidden;
    position: relative;
    flex-direction: column;
}

.contact img {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.contact .information {
    z-index: 2;
    background: rgba(255, 255, 255, 0.18);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.6px);
    -webkit-backdrop-filter: blur(8.6px);
    width: 100%;
    height: 100%;
    padding: 50px 0;
}

.contact .information .title {font-size: 3rem}
.contact .information .default-button {margin: 10px 0 0 0}

.contact .information .default-button svg {
    margin-right: 5px;
    color: var(--main-colour);
}

.contact .information .default-button:hover svg {color: var(--text-colour)}

footer {
    flex-direction: column;
    position: relative;
    z-index: 2;
    margin-top: 40px;
}

footer .social-media { 
    flex-direction: row;
    margin-bottom: 20px;
}

footer .social-media a {
    color: black;
    text-decoration: none;
    margin: 0 5px;
}

footer .social-media a svg {
    font-size: 1.35rem;
    transition: all 0.3s ease;
}

footer .social-media a svg:hover {transform: translateY(-5px)}

footer .text {
    flex-direction: row;
    font-size: 0.9rem;
    font-family: var(--text-font);
}

footer .text svg {
    margin-right: 5px;
    font-size: 1rem;
}